* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 20px;
}
.padre{
  width: 100%;
  height: 500px;
  background-color: #cecece;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}

.padre article {
  width: 25%;
  height: 150px;
}

.rojo{
  background-color: red;
  align-self: flex-start;
}
.verde{
  background-color: green;
}
.morado{
  background-color: blueviolet;
  align-self: flex-end;
}